<h3>MoneyConverter</h3>

<div class="form-group">
    <div class="col-md-4">
        <div class="form-group">
            <label>Dolars</label>
            <input type="number" class="form-control" placeholder="Przelicznik ...." @bind="Przelicznik" @bind:event="oninput" />
            <input type="number" class="form-control" placeholder="Dolars ...." @bind="Dolars" @bind:event="oninput" />
        </div>
    </div>
    @if (_zloty != null)
    {
        <div class="row blockquote mt-5">
            <span>@Dolars dolars is equel to @_zloty zlotych !  </span>
        </div>
    }
</div>

@code {
    double? _przelicznik = null;
    double? _zloty = null;
    double? _dolars = null;

    public double? Przelicznik
    {
        get => _przelicznik;
        set
        {
            _przelicznik = value;
            ConvertMoney();
        }
    }
    public double? Dolars
    {
        get => _dolars;
        set
        {
            _dolars = value;
            ConvertMoney();
        }
    }
    private void ConvertMoney()
    {
        _zloty = _przelicznik == null ? _dolars * 3.96d : _dolars * _przelicznik;
    }
}
